html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

.hp100 {
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pa {
    position: absolute;
}

.pr {
    position: relative;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.clearfix {
    zoom: 1;
}